/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 15px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a.active {
    border-bottom: 2px solid #2d5c84;
}

/* Sección Contacto */
.contact-form {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact-form h2 {
    font-size: 30px;
    color: #2d5c84;
    margin-bottom: 20px;
}

.contact-form p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 10%;
}

form input, form textarea {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    form label {
        margin-left: 0;
        align-self: center;
    }

    form input, form textarea {
        width: 100%;
    }
}
